sec-edgar-downloader>=5.1.0
pdfplumber>=0.11.0
pandas>=2.2.0
pydantic>=2.7.0
python-dotenv>=1.0.0
beautifulsoup4>=4.12.0
lxml>=4.9.0
lxml-html-clean>=0.1.0
html5lib>=1.1
tenacity>=8.2.0
pytest>=8.0.0
chromadb>=0.4.24
langchain>=0.1.13
langchain-openai>=0.1.0
langchain-chroma>=0.1.0
python-dotenv>=1.0.1
flashrank>=0.2.8
langchain-groq>=0.1.0
langgraph>=0.1.14